<!DOCTYPE html>
    <head>
        <title>Edit profile</title>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    </head>
    <body>
        {% include 'core/navbar.html' %}
        <section class="section">
            <div class="container">
                <p class="title">Edit profile</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>Neooz.com</p>
            </div>
        </footer>

    </body>
</html>