<!DOCTYPE html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <style>
            form li{
                list-style-type: none;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        {% include 'core/navbar.html' with brand_name=brand_name %}
        <section class="section" style="min-height: calc(100vh - 200px);">
            <div class="container">
                <p class="title">Log in</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_ul}}
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>Neooz.com</p>
            </div>
        </footer>

    </body>
</html>