{% extends 'core/base.html' %}

{% block content %}
<h1 class="title">{{news_title}}</h1>
<form method="POST">
    {% csrf_token %}
    <p>Enter password to access this news:</p>
    <input id="news_pass" name="news_pass" type="password"/>
    {% if incorrect_password %}
    <p>The password is wrong. Try again.</p>
    {% endif %}
    <div class="field" style="margin-top: 20px;">
        <div class="control">
            <button class="button is-success">Submit password</button>
        </div>
    </div>
</form>
{% endblock %}