<!DOCTYPE html>
    <head>
        <title>Neooz.com</title>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <style>
            form li{
                list-style-type: none;
                margin: 10px;
            }
            .space{
                margin: 30px;
            }
            .f22{
                font-size: 22px;
            }
        </style>
    </head>
    <body>
        {% include 'core/navbar.html' %}
        <section class="section" style="min-height: calc(100vh - 200px);">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>Neooz.com</p>
            </div>
        </footer>

    </body>
</html>