{% extends 'core/base.html' %}

{% block content %}
  <div id="app" class="row columns is-multiline">
    
    {% for one_news in news %}
      <div class="column is-4">
          <div class="card large">
              <div class="card-image">
                  {% if one_news.image %}
                  <figure class="image is-16by9">
                      <img src="{{ one_news.image.url }}">
                  </figure>
                  {% endif %}
              </div>
              <div class="card-content">
                  <p class="title is-4 no-padding">{{ one_news.title  }}</p>
                  <div class="content">
                      {{ one_news.description }}
                      <p>
                          <span class="title is-6">
                              <a href="{% url 'news_detail' one_news.slug %}"> Read more </a> 
                          </span> 
                      </p>
                  </div>
                  <div class="media">
                      <div class="media-content">    
                          
                          <p class="subtitle is-6">{{ one_news.date_added|date:'d/m/Y, H:i' }}</p>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>

    {% endfor %}
    
  </div>
{% endblock %}